<div id='page-wrapper'>
	<div id = 'profile_image'>
		<%= image_tag 'profile.jpeg' %>
	</div>
	<div id='content'>
		<h1>It's Mr. Stick Figure</h1>
		<p>90's forage four loko slow-carb, keffiyeh photo booth lyft. Sustainable hammock freegan swag, bitters semiotics lomo butcher neutra small batch woke. Asymmetrical chambray photo booth, tattooed woke gluten-free disrupt. Crucifix freegan 3 wolf moon humblebrag VHS hoodie lumbersexual, poutine scenester cardigan retro snackwave shabby chic meggings. Flexitarian banh mi skateboard single-origin coffee health goth, yr ennui wolf. Flexitarian squid copper mug, ramps scenester godard messenger bag single-origin coffee chia humblebrag skateboard tattooed. Banjo godard iPhone disrupt stumptown.</p>
	</div>
</div>